# Example config
# move to /etc/apache2/sites-available/laamaj.conf
# and enable via a2esites laamaj

<VirtualHost *:80>
# set your domain
  ServerName www.testdomain.co.uk
# Set the path to the wsgi config
  WSGIScriptAlias / /path/to/laamaj/laamaj.wsgi
# set path to laamaj
  <Directory /path/to/laamaj>
    Order allow,deny
    Allow from all
  </Directory>
</VirtualHost>
