/* pate template css */

html
{
    font-size: 12px;
    font-family: 'Ubuntu', sans-serif;
}

#container
{
    margin: 0 auto;
    width: 800px;
}

.footer
{
    font-size: 8px;
}

.link-block
{
    display: table-row;
    margin-top: 12px;
    width: 790px;
}


.link
{
    display: table-row;
    margin-top: 12px;
    width: 790px;
}

.key
{
    display: table-column;
    height: 32px;
    width: 90px;
    float: left;
}

.user
{
    display: table-column;
    height: 32px;
    width: 90px;
    float: left;
}

.url
{
    display: table-column;
    height: 32px;
    width: 450px;
    float: left;
}

.date
{
    display: table-column;
    height: 32px;
    width: 120;
    float: left;
}

