{% extends "base.htm" %}
{% block title %}Images pg {{ page }} - {% endblock %}
{% block head %}
  {{ super() }}
  <!-- CSS -->
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='page_links.css') }}">
{% endblock %}
{% block content %}
  <div class="link-block">
    <div class="link-header">
      <div class="key">Key</div>      
      <div class="user">User</div>
      <div class="url">URL</div>
      <div class="date">Date</div>
    </div>
    {% for key, user, link, name, dat, local in links %}
    <div class="link">
      {% if local %}
        <div class='key'><a href='/hosted/{{ key }}'>{{ key }}</a></div>
      {% else %}
        <div class="key">{{ key }}</div>
      {% endif %}
      <div class="user">{{ user }}</div>
      <div class="url"><a href='{{ link }}'>{{ name }}</a></div>
      <div class="date">{{ dat }}</div>
    </div>
    {% endfor %}
  </div>
  <br />
  {% for page_num in pages %}
    <a href='/media{{ page_num }}'>{{ page_num }}</a>
  {% endfor %}
{% endblock %}
